/* MEDIA */
@mixin media($size, $size2: false) {
  @if ($size2 == 'height') {
    @media (min-height: $size) {
      @content;
    }
  } @else if $size2 {
    @media (max-width: $size) and (min-width: $size2) {
      @content;
    }
  } @else {
    @media (min-width: $size) {
      @content;
    }
  }
}

/* COMMON */
@mixin clear {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}
@mixin placeholder($font, $color, $anim: false) {
  @if $anim {
    &::-webkit-input-placeholder {
      font: $font;
      color: $color;
      opacity: 1;
      transform: translateY(-2px);
      transition: opacity 0.2s ease-out;
    }
    &::-moz-placeholder {
      font: $font;
      color: $color;
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }
    &:-moz-placeholder {
      font: $font;
      color: $color;
      opacity: 1;
      transform: translateY(-2px);
      transition: opacity 0.2s ease-out;
    }
    &:-ms-input-placeholder {
      font: $font;
      color: $color;
      opacity: 1;
      transform: translateY(-2px);
      transition: opacity 0.2s ease-out;
    }
    &:focus::-webkit-input-placeholder {opacity: 0;}
    &:focus::-moz-placeholder {opacity: 0;}
    &:focus:-moz-placeholder {opacity: 0;}
    &:focus:-ms-input-placeholder {opacity: 0;}
  } @else {
    &::-webkit-input-placeholder {
      font: $font;
      color: $color;
    }
    &::-moz-placeholder {
      font: $font;
      color: $color;
    }
    &:-moz-placeholder {
      font: $font;
      color: $color;
    }
    &:-ms-input-placeholder {
      font: $font;
      color: $color;
    }
  }
}